body {
  margin: 0px;
}

.container {
  height: 100vh;
}

img {
  width: 100%;
}

.parents {
  margin: 0px;
  background-color: rgb(255, 102, 0);
  height: 35%;
}

.border {
  background-color: brown;
  height: 5%;
}

.child {
  display: flex;
  height: 90%;
  gap: 20px;
}

.box {
  border-style: none solid;
  border-width: 1px;
  width: 30px;
}
